.container{
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 98%;
    height: 27px;
    color: rgb(63, 64, 100);
    flex-wrap: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin: 12px auto 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    direction: rtl;
}

li {
    margin-right: 8px;
}

.vertical-line-light {
    background-color: rgba(90, 92, 122, 0.774);
    width: 1px;
    height: 15px;
    margin: auto 9px;
    /*margin: 0px 25px 0px 0px;*/
}